<nav class="container">
  <div class="row">
    <div class="col">
      <div class="logo">
      </div>
    </div>
    <div class="col" style="padding: 0px;">
      <h1><strong>Door To Door</strong></h1>
    </div>
    <div class="col">
      <div class="avatar">
      </div>
      <div class="login">
      </div>
    </div>
  </div>
</nav>
