

          <div class="card-dish">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-dish-infos">
              <div>
                <h2><%= banana.name %></h2>
                <p><%= banana.description %></p>
              </div>
              <h2 class="card-dish-pricing"> <%= banana.price %> </h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-dish-user avatar-bordered" />
            </div>
          </div>
