.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border:1px solid gray;
  background-color:lightblue;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  //width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:transparent;
}
