.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  align-items: center;
}

.title h1{
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
